*{
    padding: 0vw;
    background-image: url(images.jpg);
    margin: 0vw;
}
.table1{
 margin-left: 4vw; 
 margin-right: 4vw; 
}
body{
    font-style: italic;
   color: azure;
}
.container{
    height: 100%;
    width: 100%;

}
.covid19api{

   height: 8vw;
   color: azure;
   font-size: 3vw;
   animation: covid19HeadingAnimation 2s linear 2s infinite alternate;
}

@keyframes covid19HeadingAnimation {
    0% {
        font-size: 3vw;
        transition: ease-in-out;
        color:#f5f1eb;
    }
    100% {
        font-size: 4vw;
        transition: ease-in-out;
        color: #ad0323;
    }
}

.Table {
    color: rgb(209, 205, 200);
}
.Data{
    color: cornflowerblue;
}

.map{
  margin-left: 5vw;
  margin-right: 5vw;
}